@import "header";
@import "footer";
@import "blog";


.consulta-btn{
    display: inline-block;
    position: relative;
    left: 50vw;
    width: 20vw;
    height: 6vh;
}

h2{
    display: inline-block;
}

@media (max-width:800px){
    .consulta-btn{
        left: 15vw;
        width: 50vw;
    }
}