@import "header";
@import "footer";


.cons-form{
    background-color: #e8ecef;
    border: 1px solid #000000;
    border-radius: 10px;
    &>label{
        color: rgba($color: #0878f7, $alpha: 1.0);
    }
    &>input{
        color: #312f40;
        border: 1px solid #a0a9ba;
        border-radius: 8px;
        font-size: 16px;
    }
    &>.boton{
        background-color: #0878f7;
        color: #312f40;
        border: 1px solid #a0a9ba;
        border-radius: 8px;
        font-size: 16px;
    }
}