@import "header";
@import "footer";

h2{
    font-family: "Rubik Mono One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #0878f7;
}